* {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

h1 {
  padding-top: 10%;
  font-size: 9rem;
}

h2 {
  font-size: 5rem;
  text-shadow: 2px 6px #fff;
  margin: 60px 0 20px;
}

h1, h2 {
  font-family: "Amatic SC", cursive;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 5%;
}

/*container*/
.container {
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  background-color:#fff;
}

.purple {
  background-color: rgba(218, 173, 244, 0.3);
}

/* Nav bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 65px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.navlist {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 5px;
}

.nav-link {
  text-decoration: none;
  padding: 15px 40px;
  margin: 0 5px;
  font-size: 18px;
  color: #000;
  border-radius: 7px;
}

.nav-link:hover {
  background-color: indigo;
  transition-duration: 0.3s;
  color:#fff;
}

/*Home*/
#welcome {
  background-image: url('img/rocknwool-x3N59fMm0ME-unsplash.jpg');
  background-size: cover;
  height: 100%;
}

#welcome::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

#welcome > *{
  z-index: 5;
  position: relative;
  top: 10%;
}


/* About */
.about {
  display: grid;
  width: 100%;
  grid-template-columns: 60% 40%;

}

.info p {
  position: relative;
  text-align: left;
  font-size: 16px;
  padding: 20px 30px;
}

#pic {
  margin-right: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 6px;
}

/*Slider*/

  .slide-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 20px 10px;
  }
  
  .slide img{
    min-height: 100%;
    width: auto;
    overflow: hidden;
    padding: 10px 25px;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  0% {opacity: 0.5;}
  100% {opacity: 1;}
}

.arrow {
  border: 3px solid #2f064d;
  color: #2f064d;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
}

.arrow:hover {
  background-color:#3b0561 ;
  color:#fff;
  transition: 0.4s ease;
}

.left {
  position: absolute;
  top: 30%; 
  left: 120px;
}

.right {
  position: absolute;
  top: 30%; 
  right: 120px;
}


/*Contact me*/
#contact {
  min-height: 35vh;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.social {
  margin: 20px 20px;
  color: #000;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.social:hover {
  color: white;
  background-color: indigo;
  opacity: 0.6;
  transition: 0.4s;
}

/*responsive screens*/
@media (max-width: 600px) {
  nav {
    display: inline-block;
    left: 10px;
    width: 60px; 
    height: auto;
    margin: 10px;
    background-image: url('img/bars-solid.svg');
    background-size: cover;
    background-color: transparent;
   }
  
   .navlist {
     display: none;
     position: absolute;
     left: 0px;
     top: 40px;
     padding: 0;
     background-color: rgba(255, 255, 255, 0.8);
     min-width: 60px;
     border-radius: 6px;
   }
  
   nav:hover .navlist {
     display: block;
   }
   
   .nav-link {
      display: block;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 16px;
    margin: 0 10px;
  }

  .arrow {
    font-size: 10px;
  }

  #projects {
    min-height: 80vh;
  }

  .slide img {
    max-width: 80vw;
    height: auto;
  }


  #contact p {
    text-align: center;
  }

  .contact-info {
    flex-wrap: wrap;
    padding: 2px;
  }

@media (max-width: 800px) {
  .container .purple {
    min-height: 60vh;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  #pic {
    padding: 40px 10px;
    margin: 2% 5%;
  }

  .info p {
    font-size: 15px;
  }
  
  p {
    font-size: 14px;
    text-align: left;
  }

.slide-container {
  margin: 0 auto;
}

  .arrow {
    border: none;
    color: white;
  }

  .arrow:hover {
    padding: 10px;
    background-color: #777373;
    opacity: 0.6;
  }

  .left {
    left: 30px;
    top: 40%;
  }

  .right {
    right: 30px;
    top: 40%;
  }
}


@media (min-width: 1024px) {
    .slide img {
      min-height: 50vh;
      width: auto;
    }

    .left .right {
      top: 40%;
    }
  
}